$firstSector_color: #FF5643;
$secondSector_color: dodgerblue;
$thirdSector_color: #FEEF33;
$fourthSector_color: #BEDE15;

$primaryColor: dodgerblue;
$darkShadeColor: #1f2041;
$gradientColor: #8BA4F9;

$text_primary: transparentize($darkShadeColor, 0.25);

$softErrorText: rgb(250, 98, 255);